@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(39, 33, 77);
  justify-content: center;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
}

.weather {
  display: flex;
  justify-content: space-around;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.condition {
  font-size: 2rem;
  font-weight: 600;
}
.location {
  font-size: 1.2rem;
}

.temperature {
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
}

.additional {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  align-items: flex-start;
  justify-content: space-evenly;
  font-style: italic;
  line-height: 1.15;
}

.show {
  font-size: 0.9rem;
  font-style: normal;
}
