* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: lightsalmon;
  justify-content: space-around;
}

.weather {
  display: flex;
}

.main {
  display: flex;
}

.additional {
  display: flex;
}
